#instrument-window {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 128vh;
  height: 82vh;
  border: solid black 1px;
  border-radius: 1em;
  margin: 1em;
  transition: opacity 0.5s;
}

.instrument {
  position: absolute;
  height: 85vh;
  width: auto;
  transition: ease-in-out 0.7s;
}

/* ---------- svg components ---------- */
.component {
  pointer-events: none;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  border: #1d2022 2px solid;
}

g {
  pointer-events: all;
}

.example-image {
  align-self: center;
  width: 70%;
  height: 30%;
}

/* ---------- popup ---------- */
.popup h2 {
  font-family: "Montserrat";
  text-align: center;
  padding: 20px 0;
  text-decoration: underline;
}

.popup p {
  font-family: "Roboto";
  pointer-events: none;
  padding: 0 3%;
}

.MuiDialog-paper {
  width: 100%;
  height: 80%;
}

.transparent, .transparent path {
  opacity: 0;
  transition: ease-in-out 0.7s;
  pointer-events: none;
}