#instrument-window {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 128vh;
  height: 82vh;
  border: solid black 1px;
  border-radius: 1em;
  margin: 1em;
  transition: opacity 0.5s;
}

#instrument {
  height: auto;
  width: auto;
}
